ion-select {
    --padding-bottom: 0px !important;
    --padding-end: 0px !important;
    --padding-start: 0px !important;
    --padding-top: 0px !important;
      width: 3.8em !important;
}



ion-content {
  // --background: #ffffff;
  // --color: #3880ff;
  // --keyboard-offset: 0px;
  // --offset-bottom: 0px;
  // --offset-top: 0px;
  --padding-bottom: 0px;
  --padding-end: 0px;
  --padding-start: 0px;
  --padding-top: 0px;
}





ion-item {
    color: white !important;
    margin-right: 20px;
}

ion-label {
  font-size: 0.78em !important;
}

ion-card-subtitle {
    font-size: 0.85em !important;
}



// .myCircle {
//     stroke: black !important;
//     color: red !important;
//   }
  
// .svg-container {
//     display: inline-block;
//     position: relative;
//     width: 100%;
//     padding-bottom: 100%;
//     vertical-align: top;
//     overflow: hidden;
// }
// .svg-content {
//     display: inline-block;
//     position: absolute;
//     top: 0;
//     left: 0;
// }

// html {
//     overflow: hidden;
//   }


// .rectangle {
//     fill: red !important;
// }


