ion-select {
    --padding-bottom: 4px;
    --padding-end: 4px;
    --padding-start: 4px;
    --padding-top: 4px;
}




// .myCircle {
//     stroke: black !important;
//     color: red !important;
//   }
  
