
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" >
            <ion-button   (click)="disminuir()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>   
            <ion-label> Página{{this.page}}</ion-label>
           
            <ion-button (click)="aumentar()">
                <ion-icon name="arrow-forward"></ion-icon>
            </ion-button>


            <!-- <ion-button (click)="visualizarValores()" expand="block" fill="clear" shape="round">
                Click me
            </ion-button> -->

            <ion-button   (click)="casillasVerificacion()" expand="block" fill="clear" shape="round">
                Mostrar
            </ion-button>

        </ion-buttons>

        <ion-buttons slot="end">
            <ion-item lines="none">
                <ion-label>Fuente</ion-label>
                <ion-select style="width:50px;" value="15" (ionChange)="cambiarTamagnoletra($event)" >
                    <ion-select-option value="5">5</ion-select-option>
                    <ion-select-option value="10">10</ion-select-option>
                    <ion-select-option value="15">15</ion-select-option>
                    <ion-select-option value="20">20</ion-select-option>
                    <ion-select-option value="22">22</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item lines="none">
                <ion-label>Puntos</ion-label>
                <ion-select style="width:50px;" value="1" (ionChange)="cambiarTamagnoPuntos($event)" >
                    <ion-select-option value="0.5">.5</ion-select-option>
                    <ion-select-option value="1">1</ion-select-option>
                    <ion-select-option value="3">3</ion-select-option>
                    <ion-select-option value="4">4</ion-select-option>
                    <ion-select-option value="5">5</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-buttons>


    </ion-toolbar>
</ion-header>



<ion-card style="margin-bottom: 3%; margin-top: 0%; width: 90%; margin: auto; height: 100%;">
    <!-- <ion-card-header>
    </ion-card-header> -->
    <ion-card-subtitle style="text-align: center; padding: 1%;">Fecha inicio: {{this.inicio}} - Fecha fin: {{this.fin}} </ion-card-subtitle>
    <ion-card-content  class="linealChart">
        <!-- <div  style="width: 95%; margin-bottom: 2%;  margin-right: auto; margin-left: auto;  border: solid 1px; padding: 5px;" ></div> -->
    </ion-card-content>
</ion-card>

