ion-select {
    --padding-bottom: 4px;
    --padding-end: 4px;
    --padding-start: 4px;
    --padding-top: 4px;
}



ion-item {
    margin-right: 20px;
}


// .myCircle {
//     stroke: black !important;
//     color: red !important;
//   }
  
// .svg-container {
//     display: inline-block;
//     position: relative;
//     width: 100%;
//     padding-bottom: 100%;
//     vertical-align: top;
//     overflow: hidden;
// }
// .svg-content {
//     display: inline-block;
//     position: absolute;
//     top: 0;
//     left: 0;
// }

// html {
//     overflow: hidden;
//   }


// .rectangle {
//     fill: red !important;
// }


