<ion-card style="margin-bottom: 3%; margin-top: 0%; margin: auto; height: 100%;" [style.width]="this.ancho">
    <!-- <ion-card-header>
        </ion-card-header> -->

    <!-- <ion-toolbar>

            <ion-buttons slot="start">
                <ion-buttons slot="start" *ngIf="mostarApmpliar">
                    <ion-button (click)="sendMessage()">
                        <ion-icon slot="start" name="expand"></ion-icon>
                    </ion-button>
                </ion-buttons>
    
                <ion-button (click)="casillasVerificacion()" expand="block" fill="clear" shape="round">
                    <ion-label>Mostrar</ion-label>
                </ion-button>
    
            </ion-buttons>
    
    
            <ion-buttons slot="start">
                <ion-item lines="none">
                    <ion-label>Fuente</ion-label>
                    <ion-select value="15" (ionChange)="cambiarTamagnoletra($event)">
                        <ion-select-option value="5">5</ion-select-option>
                        <ion-select-option value="10">10</ion-select-option>
                        <ion-select-option value="15">15</ion-select-option>
                        <ion-select-option value="20">20</ion-select-option>
                        <ion-select-option value="22">22</ion-select-option>
                    </ion-select>
                </ion-item>
    
                <ion-item lines="none">
                    <ion-label>Puntos</ion-label>
                    <ion-select value="1" (ionChange)="cambiarTamagnoPuntos($event)">
                        <ion-select-option value="0.5">.5</ion-select-option>
                        <ion-select-option value="1">1</ion-select-option>
                        <ion-select-option value="3">3</ion-select-option>
                        <ion-select-option value="4">4</ion-select-option>
                        <ion-select-option value="5">5</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-buttons>
        </ion-toolbar> -->



    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-button (click)="sendMessage()" *ngIf="mostarApmpliar" style="height: 20px;">
                <ion-icon name="expand"></ion-icon>
            </ion-button>
        </ion-buttons>




        <div style="text-align: center ;">

            <ion-button (click)="disminuir()" style="height: 20px;">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
            <ion-label style="height: 20px; padding: auto; "> Página{{this.confg.page}} </ion-label>

            <ion-button (click)="aumentar()" style="height: 20px;">
                <ion-icon name="arrow-forward"></ion-icon>
            </ion-button>
        </div>

    </ion-toolbar>
    <ion-card-subtitle style="text-align: center; padding: 1%;">
        <p style="margin: 0; padding: 0; "
            [ngStyle]="{'font-size': this.anchoPantalla > this.tamMinPantalla  ? this.maxFuente : this.minFuente}">
            <b> Fecha inicio:</b> <span *ngIf="this.data && this.data.length > 0"> {{this.inicio}} </span> -
            <b> Fecha fin: </b> <span *ngIf="this.data && this.data.length > 0"> {{this.fin}} </span>
        </p>
    </ion-card-subtitle>

     <!-- chapuza loading -->
    <!-- 
    <div *ngIf="this.loading" style="align-items: center; position: absolute; left: 50%; top: 50%;" >
        <ion-img style="width: 50%; height: 60;" src="assets/img/loading2.svg"></ion-img>
    </div> -->
    <!-- [ngStyle]="{'visibility': this.loading ? 'hidden' : 'visible' }"  -->

    <span  >

    
      <ion-card-content  class="linealChart">
            </ion-card-content>
         <ion-fab vertical="bottom" horizontal="start">

            <ion-fab-button size="small">
                <ion-icon src="assets/img/ajuste.svg"></ion-icon>
            </ion-fab-button>

            <ion-fab-list side="end">
                <ion-fab-button size="small" (click)="casillasVerificacion()">
                    <ion-icon src="assets/img/ojo.svg"></ion-icon>
                </ion-fab-button>
                <ion-fab-button size="small" (click)="cambiarTamagnoletra()">
                    <ion-icon src="assets/img/fuente.svg"></ion-icon>
                    <ion-label>{{this.confg.tamagnoFuente}}</ion-label>
                </ion-fab-button>

                <ion-fab-button size="small" (click)="cambiarTamagnoPuntos()">
                    <ion-icon src="assets/img/puntotam.svg"></ion-icon>

                    <ion-label>{{this.confg.tamagnoPunto}}</ion-label>
                </ion-fab-button>

            </ion-fab-list>
        </ion-fab>

   

    </span>

</ion-card>