<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-boton-atras></app-boton-atras>
      <app-escudo></app-escudo>

      <ion-title>Detalles</ion-title>
    </ion-buttons>
    


  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid class="centrar">
    <ion-row>
      <ion-col size="12">
        <div style="text-align: center;">
          <ion-label>
            <b>Nombre: </b> {{ this.entrada &&  this.entrada.station  }} 
          </ion-label>
        </div>
      </ion-col>
    </ion-row>

    <!-- <p>
      {{this.anchoPantalla }}
      {{this.tamMinPantalla}}
  </p> -->


    <ion-row>
      <ion-col size="3">
        <ion-item>
          <ion-label>
            <div class="iconoDiv">
              <ion-icon slot="start" [src]="util.devolverIcono('CO2')"
                [ngStyle]="{'font-size': this.anchoPantalla > this.tamMinPantalla  ? this.maxIcono : this.minIcono}">
              </ion-icon>
            </div>
          </ion-label>

        </ion-item>
      </ion-col>

      <ion-col size="3" *ngIf="this.anchoPantalla > this.tamMinPantalla">
        <ion-item lines="full">
          <ion-label
            [ngStyle]="{'font-size': this.anchoPantalla > this.tamMinPantalla  ? this.maxFuente : this.minFuente}">
            <b>CO2</b> </ion-label>
        </ion-item>
      </ion-col>

      <ion-col size="4">
        <ion-item lines="full">
          <ion-label
            [ngStyle]="{'font-size': this.anchoPantalla > this.tamMinPantalla  ? this.maxFuente : this.minFuente}">
            {{this.co2}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3">
        <ion-item>
          <ion-label>
            <div class="iconoDiv">
              <ion-icon slot="start" [src]="util.devolverIcono('temp')"
                [ngStyle]="{'font-size': this.anchoPantalla > this.tamMinPantalla  ? this.maxIcono : this.minIcono}">
              </ion-icon>
            </div>
          </ion-label>

        </ion-item>
      </ion-col>

      <ion-col size="3" *ngIf="this.anchoPantalla > this.tamMinPantalla">
        <ion-item lines="full">
          <ion-label
            [ngStyle]="{'font-size': this.anchoPantalla > this.tamMinPantalla  ? this.maxFuente : this.minFuente}">
            <b>Temperatura</b> </ion-label>
        </ion-item>
      </ion-col>

      <ion-col size="4">
        <ion-item lines="full">
          <ion-label
            [ngStyle]="{'font-size': this.anchoPantalla > this.tamMinPantalla  ? this.maxFuente : this.minFuente}">
            {{this.temp}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="3">
        <ion-item>
          <ion-label>
            <div class="iconoDiv">
              <ion-icon slot="start" [src]="util.devolverIcono('humid')"
                [ngStyle]="{'font-size': this.anchoPantalla > this.tamMinPantalla  ? this.maxIcono : this.minIcono}">
              </ion-icon>
            </div>
          </ion-label>

        </ion-item>
      </ion-col>

      <ion-col size="3" *ngIf="this.anchoPantalla > this.tamMinPantalla">
        <ion-item lines="full">
          <ion-label
            [ngStyle]="{'font-size': this.anchoPantalla > this.tamMinPantalla  ? this.maxFuente : this.minFuente}">
            <b>Humedad</b> </ion-label>
        </ion-item>
      </ion-col>

      <ion-col size="4">
        <ion-item lines="full">
          <ion-label
            [ngStyle]="{'font-size': this.anchoPantalla > this.tamMinPantalla  ? this.maxFuente : this.minFuente}">
            {{this.humid}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3">
        <ion-item>
          <ion-label>
            <div class="iconoDiv">
              <ion-icon slot="start" [src]="util.devolverIcono('press')"
                [ngStyle]="{'font-size': this.anchoPantalla > this.tamMinPantalla  ? this.maxIcono : this.minIcono}">
              </ion-icon>
            </div>
          </ion-label>

        </ion-item>
      </ion-col>

      <ion-col size="3" *ngIf="this.anchoPantalla > this.tamMinPantalla">
        <ion-item lines="full">
          <ion-label
            [ngStyle]="{'font-size': this.anchoPantalla > this.tamMinPantalla  ? this.maxFuente : this.minFuente}">
            <b>Presión</b> </ion-label>
        </ion-item>
      </ion-col>

      <ion-col size="4">
        <ion-item lines="full">
          <ion-label
            [ngStyle]="{'font-size': this.anchoPantalla > this.tamMinPantalla  ? this.maxFuente : this.minFuente}">
            {{this.press}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3">
        <ion-item>
          <ion-label>
            <div class="iconoDiv">
              <ion-icon slot="start" [src]="util.devolverIcono('noise')"
                [ngStyle]="{'font-size': this.anchoPantalla > this.tamMinPantalla  ? this.maxIcono : this.minIcono}">
              </ion-icon>
            </div>
          </ion-label>

        </ion-item>
      </ion-col>

      <ion-col size="3" *ngIf="this.anchoPantalla > this.tamMinPantalla">
        <ion-item lines="full">
          <ion-label
            [ngStyle]="{'font-size': this.anchoPantalla > this.tamMinPantalla  ? this.maxFuente : this.minFuente}">
            <b>Ruido</b> </ion-label>
        </ion-item>
      </ion-col>

      <ion-col size="4">
        <ion-item lines="full">
          <ion-label
            [ngStyle]="{'font-size': this.anchoPantalla > this.tamMinPantalla  ? this.maxFuente : this.minFuente}">
            {{this.noise}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3">
        <ion-item>
          <ion-label>
            <div class="iconoDiv">
              <ion-icon slot="start" [src]="util.devolverIcono('date')"
                [ngStyle]="{'font-size': this.anchoPantalla > this.tamMinPantalla  ? this.maxIcono : this.minIcono}">
              </ion-icon>
            </div>
          </ion-label>

        </ion-item>
      </ion-col>

      <ion-col size="3" *ngIf="this.anchoPantalla > this.tamMinPantalla">
        <ion-item lines="full">
          <ion-label
            [ngStyle]="{'font-size': this.anchoPantalla > this.tamMinPantalla  ? this.maxFuente : this.minFuente}">
            <b>Lectura</b> </ion-label>

        </ion-item>
      </ion-col>

      <ion-col size="4">
        <ion-item lines="full">
          <ion-label class="ion-text-wrap"
            [ngStyle]="{'font-size': this.anchoPantalla > this.tamMinPantalla  ? this.maxFuente : this.minFuente}">
            <!-- {{ this.entrada?.time &&  util.fecha(this.entrada.time) }} -->
            <span> <b>Día:</b> {{ this.entrada?.time && this.util.fecha(this.entrada.time).slice(0,10)}} </span>
            <span> <b>Hora: </b> {{ this.entrada?.time && this.util.fecha(this.entrada.time).slice(11, 16)}}</span>
          </ion-label>
        </ion-item>
      </ion-col>

    </ion-row>


    <ion-row>

      <ion-col size="12">
        <div style="text-align:center;">
          <ion-button (click)="borrarEntrada()">
            <ion-icon slot="start" src="assets/img/borrar.svg"></ion-icon>
            <ion-label> <b> Borrar entradas</b></ion-label>
          </ion-button>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>

  <div style="text-align: right; margin-bottom: 2%;">
    <app-vistagrafica [mostarApmpliar]="true" (messageEvent)="ampliarRecibido($event)"
      *ngIf="this.nombreEstacion && finCarga &&  this.ampliar " [nombre]="this.nombreEstacion" [ancho]="'82%'">
    </app-vistagrafica>
  </div>
</ion-content>