

ion-grid {
 // font-size: 0.72em;
  //font-size: 0.70em;
}

ion-label {
    //font-size: 0.72em !important;
   // font-size: 0.59em !important;
    text-align: center;
}

.col{
  background: gray;
  border: think solid rgb(236, 220, 220);
  }

ion-icon {
  font-size: 1em;
}


ion-grid {
  margin: auto !important;
}

ion-col {
  margin: auto !important;
  padding: 0px;
}



// ion-col {
//   --overflow: visible !important;
//   height: fit-content;
//   border-color: green;
// }




p.icono{
  margin: 0;
  padding: 0;
  border-bottom: dashed  grey 0.1px;
}



.color-Icono{
  color: var(--variable) !important;
}

// ion-item.escudo {
  
//   img{
//     height: 10%;
//   }

// }