<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Listado
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label></ion-label>
  </ion-item>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid fixed="true">

    <ion-row>
      <ion-col size="2">
        <div style="text-align: center;">
          <p class="icono">
            <ion-icon slot="start" src="assets/img/raspberry-pi2.svg"
              [ngStyle]="{'font-size': this.anchoPantalla > this.tamMinPantalla  ? this.maxIconoSuperior : this.minIconoSuperior}">
            </ion-icon>
          </p>
          <p class="icono">
            <b *ngIf="this.anchoPantalla > this.tamMinPantalla">Estación</b>
          </p>
        </div>
      </ion-col>

      <ion-col size="3">
        <div style="text-align: center;">

          <p class="icono">
            <ion-icon slot="start" src="assets/img/reloj.svg"
              [ngStyle]="{'font-size': this.anchoPantalla > this.tamMinPantalla  ? this.maxIconoSuperior : this.minIconoSuperior}">
            </ion-icon>
          </p>

          <p class="icono">
            <b *ngIf="this.anchoPantalla > this.tamMinPantalla"
              [ngStyle]="{'font-size': this.anchoPantalla > this.tamMinPantalla  ? this.maxFuente : this.minFuente}">
              Lectura
            </b>
          </p>

        </div>
      </ion-col>

      <ion-col size="2">

        <div style="text-align: center;">
          <p class="icono" >
            <ion-icon slot="start" src="assets/img/alarm2.svg"
              [ngStyle]="{'font-size': this.anchoPantalla > this.tamMinPantalla  ? this.maxIconoSuperior : this.minIconoSuperior}">
            </ion-icon>
          </p>
          <p class="icono">
            <b *ngIf="this.anchoPantalla > this.tamMinPantalla">Estado </b>
          </p>


        </div>

      </ion-col>

      <ion-col size="2">

        <div style="text-align: center;">

          <p class="icono">
            <ion-icon slot="start" src="assets/img/co22.svg"
              [ngStyle]="{'font-size': this.anchoPantalla > this.tamMinPantalla  ? this.maxIconoSuperior : this.minIconoSuperior}">
            </ion-icon>
          </p>

          <p class="icono">
            <b *ngIf="this.anchoPantalla > this.tamMinPantalla">CO2</b>
          </p>

        </div>
      </ion-col>

      <ion-col size="2">
        <div style="text-align: center;">
          
          <p class="icono">
            <ion-icon slot="start" src="assets/img/ver-detalles.svg"
              [ngStyle]="{'font-size': this.anchoPantalla > this.tamMinPantalla  ? this.maxIconoSuperior : this.minIconoSuperior}">
            </ion-icon>
          </p>
          <p class="icono">
            <b *ngIf="this.anchoPantalla > this.tamMinPantalla">Detalles</b>
          </p>
        </div>

      </ion-col>
    </ion-row>


    <ion-row *ngFor="let estacion of this.estaciones; let i=index" style="text-align: center; ">
     
      <ion-col size="2">

        
        <ion-item lines="none">
          <ion-label class="ion-text-wrap"
            [ngStyle]="{'font-size': this.anchoPantalla > this.tamMinPantalla  ? this.maxFuente : this.minFuente}">
            {{estacion.id}}
          </ion-label>
        </ion-item>
      </ion-col>

      <ion-col size="3">
        <ion-item lines="none">
          <ion-label class="ion-text-wrap"
            [ngStyle]="{'font-size': this.anchoPantalla > this.tamMinPantalla  ? this.maxFuente : this.minFuente}">
            {{estacion.time}}
          </ion-label>
        </ion-item>
      </ion-col>

      <ion-col size="2">


        <div style="text-align: center;">
     
          <p >
            <ion-icon 

            class="color-Icono"
            [style]="this.util.colorIcono(comprobarEstado(estacion.time).color)"
            [ngStyle]="{'font-size': this.anchoPantalla > this.tamMinPantalla  ? this.maxIcono : this.minIcono}"
              slot="icon-only" [src]="comprobarEstado(estacion.time).url">
            </ion-icon>
          
          </p>
        </div>
      </ion-col>

      <ion-col size="2">
        <!-- -------------------- -->
        <!-- <ion-item lines="none">
          <ion-label class="ion-text-wrap"
            [ngStyle]="{'font-size': this.anchoPantalla > this.tamMinPantalla  ? this.maxFuente : this.minFuente}">
            {{ estacion.data && util.jsonParse(estacion.data).CO2 }}
            
          </ion-label>
        </ion-item> -->


        <div style="text-align: center;">
          <!-- class="color-Icono" 
             [style]="  i %2 !==0 ?   this.util.colorIcono('#009900'): this.util.colorIcono('#600')  " 
          -->
          <p >
            <ion-icon 
               class="color-Icono"
              [style]="this.util.colorIcono(this.util.devolverIconoCo2(util.jsonParse(estacion.data).CO2).color)"
               [ngStyle]="{'font-size': this.anchoPantalla > this.tamMinPantalla  ? this.maxIcono : this.minIcono}"
              slot="icon-only" [src]="this.util.devolverIconoCo2(util.jsonParse(estacion.data).CO2 ).url">
            </ion-icon>
          </p>

     

        </div>
        <!-- -------------------- -->



      </ion-col>

      <ion-col size="2">
        <ion-button   (click)="this.presentModal(estacion.id)" fill="clear">
          <ion-icon  class="color-Icono"  [style]="this.util.colorIcono('#015abe')" slot="icon-only" src="assets/img/mas.svg"
            [ngStyle]="{'font-size': this.anchoPantalla > this.tamMinPantalla  ? this.maxIcono : this.minIcono}">
          </ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>