/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root{

    --azul-fondo: #015abe;
    ion-toolbar {
        --background: var(--azul-fondo);
        --border-color: var(--azul-fondo);
        --border-style: solid;
        //--border-width: 8px;
        --color: white;
        --min-height: 2em !important;
        --opacity: 1;
        // --padding-bottom: 4px;
        // --padding-end: 4px;
        // --padding-start: 4px;
        // --padding-top: 4px;
        ion-item { 
            --color: white;
            --background:  var(--azul-fondo);;
            --min-height: 2em;
        }
      
    }

 
    
    app-boton-atras{
        ion-item {
          ion-icon {
              background:var(--azul-fondo);
              color: #ffffff;
          }
        }
    }

    .alert-head.sc-ion-alert-md{
        background-color: var(--azul-fondo);
        h2{
            color: white;
        }
    }

    ion-modal.fullscreen  {
        --width: 100% !important;
        --height: 100% !important;
        --border-radius: 0px !important;
        border-radius: 0px !important;
      
      }



}
ion-alert.alertBorrar{

    div.alert-head{
        border-top: solid gray 1px ;
        border-bottom: solid gray 1px ;
    }

    div.alert-message.sc-ion-alert-md{
        padding-top: 1em !important;
    }
    .alert-button-group.sc-ion-alert-md{
        border-top: solid gray 1px ;
        border-bottom: solid gray 1px ;
    }
 
}


ion-alert {
    --backdrop-opacity: 0.5;
    --background: #333131;
    // --height: 100%;
    // --max-height: 100%;
    // --max-width: 100%;
    // --min-height: 100%;
    --min-width: 90%;
    // --width: 100%;
    
    // ion-radio {
    //     --border-radius: 8px;
    //     --color: #3880ff;
    //     --color-checked: #3880ff;
    //     --inner-border-radius: 2px
    // }

    h2{
        color: black;
    }

    .alert-button-group.sc-ion-alert-md{
 
        background-color: white;
        
    }

 
    
 
    // button[role='radio']{
    //     .alert-radio-label.sc-ion-alert-md {
    //         color: rgb(255, 255, 255);
          
    //     }
    // }

    .alert-radio-inner{
        background-color: rgb(114, 25, 25)
    }
    
    strong{
        color: black;
    }

    div.alert-head{
        border-top: grey solid 1px;
        background-color: #005cbb !important;
     
        // padding-bottom: 1em;
        // margin-bottom: 1em;
    }
    
    div.alert-radio-label{
        color: white;
    }

    .alert-radio-label.sc-ion-alert-md{
       color: white;
    }


    .alert-button.alert-button-role-cancel  {
        color: rgb(255, 255, 255) !important;
        background-color: #009688 !important;
        border: grey 1px solid !important;
    }

   
    .alert-button{
        color: rgb(255, 255, 255) !important;
        background-color:  #005aa8 !important;
        border: grey 1px solid !important;
 
    }

 
    

}


ion-action-sheet {
    --backdrop-opacity: 0.5;
    --background: #000000;
    --button-background: #333131;
    --button-background-activated: #a02b1c;
    // --button-background-activated-opacity: 1;
    // --button-background-focused: #3880ff;
    // --button-background-focused-opacity: 1;
    --button-background-hover: #383233;
    --button-background-hover-opacity: 1;
    // --button-background-selected: #3880ff;
    // --button-background-selected-opacity: 1;
    --button-color: #ffffff;
    // --button-color-activated: #3880ff;
    // --button-color-focused: #3880ff;
    --button-color-hover: #000000;
    // --button-color-selected: #3880ff;
    --color: #ffffff;
    // --height: 100%;
    // --max-height: 100%;
    // --max-width: 100%;
    // --min-height: 100%;
    // --min-width: 100%;
    // --width: 100%;


    div.action-sheet-title.sc-ion-action-sheet-md{
        border-top: grey 1px solid !important;
        border-bottom: grey 1px solid !important;
        color: white !important;
        background-color: var(--azul-fondo) !important;
    }


    // button:hover.action-sheet-button.ion-activatable.ion-focusable.action-sheet-cancel {
    //     color: rgb(255, 255, 255) !important;
    //     border-top: grey 1px solid;
    //     --button-background-hover: rgb(12, 12, 12)  !important;
    //     border-bottom: grey 1px solid;
    // }

    button.action-sheet-button.ion-activatable.ion-focusable.action-sheet-cancel{
        // --button-background-hover:  rgb(34, 1, 1);
        border-top: grey 1px solid;
        border-bottom: grey 1px solid;
        background-color: #009688;
        color: rgb(255, 255, 255) !important;
    }
 
}

 

